.form__container {
    margin: 0 10%;
}

.form__heading {
    margin: 50px 0;
    text-align: center;
}

.form__title {
    margin: 0;
    font-weight: bold;
    font-size: 35px;
}

.sell__form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sell__sub-title {
    border-bottom: 1px solid #797979;
    font-weight: bold;
    font-size: 25px;
    color: #797979;
}

.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form__group:last-child {
    margin-bottom: 0;
}

.form__label {
    margin: 0;
    font-weight: bold;
}

.sell__image-upload {
    width: 100%;
    height: auto;
    min-height: 130px;
    max-height: 400px;
    border: 1px dashed #797979;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sell__image-label {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell__image-input {
    display: none;
}

.sell__image-button {
    display: inline-block;
    border: 1px solid #ff5555;
    padding: 8px 16px;
    border-radius: 6px;
    color: #ff5555;
    font-weight: bold;
    font-size: 12px;
}

.sell__preview-image {
    display: none;
    max-width: 100%;
    max-height: 380px;
    object-fit: contain;
    margin: 10px 0;
}

.sell__category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.sell__category-item {
    cursor: pointer;
}

.sell__category-input {
    display: none;
}

.sell__category-text {
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: bold;
    color: #ff5555;
    border: 1px solid #ff5555;
    border-radius: 20px;
}

.sell__category-item:hover .sell__category-text {
    background-color: #ffeeee;
}

.sell__category-input:checked + .sell__category-text {
    color: #ffffff;
    background-color: #ff5555;
    border-color: #ff5555;
}

.form__input {
    width: 100%;
    padding: 10px 16px;
    font-size: 16px;
    box-sizing: border-box;
}

.form__input--select option {
    background-color: #5c5c5c;
    color: #ffffff;
}

.form__input--textarea {
    min-height: 150px;
    resize: none;
}

.sell__price-input-wrapper {
    position: relative;
    width: 100%;
}

.sell__price-input-wrapper::before {
    content: "¥";
    position: absolute;
    left: 16px;
    top: 47%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    pointer-events: none;
}

.sell__price-input-wrapper .form__input {
    padding: 10px 16px 10px 35px;
}

.form__error {
    height: 20px;
    margin-top: 5px;
}

.form__error-text {
    margin: 0;
    color: #ff0000;
    font-size: 13px;
    text-align: left;
}

.form__button {
    margin-top: 50px;
}

.form__button-submit {
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color: #ff5555;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
